@import url(https://fonts.google.com/specimen/Kumbh+Sans);

.root {
  background-color: #19a2ae;

  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 97vh;
}

.root::before {
  content: url(./images/bg-pattern-top.svg);
  position: fixed;
  top: -540px;
  left: -700px;
  width: 200px;
}
.root::after {
  content: url(./images/bg-pattern-bottom.svg);
  position: fixed;
  bottom: -450px;
  right: 0px;
  width: 200px;
}

.card {
  display: block;
  margin: 0 auto;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 4;
}
.header-bkg {
  background-image: url(./images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 130px;
  border-radius: 10px 10px 0 0;
}
.profile {
  padding-top: 50px;
  position: relative;
}
img {
  display: block;
  border-radius: 100px;
  border: 4px solid #fff;
  margin: 0 auto;
  position: absolute;
  top: -50px;
  right: 100px;
}

h1 {
  font-size: 18px;
}

.age {
  font-weight: 300;
}

.city {
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 2px solid #96969633;
  padding: 0 0 8px;
}

.data {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 30px;
}

.title-data {
  display: block;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
  cursor: pointer;
  font-weight: 600;
}

@media (min-width: 780px) {
  img {
    right: 125px;
  }
  .card {
    width: 350px;
  }
  .root::before {
    content: url(./images/bg-pattern-top.svg);
    position: fixed;
    top: -550px;
    left: -265px;
    width: 400px;
  }
  .root::after {
    content: url(./images/bg-pattern-bottom.svg);
    position: fixed;
    bottom: -590px;
    right: 300px;
    width: 400px;
  }
}
